/* CSS Variables */
:root{
    --bg-dark: hsl(0 0% 0%);
    --bg: hsl(0 0% 5%);
    --bg-light: hsl(0 0% 10%);
    --text: hsl(0 0% 95%);
    --text-muted: hsl(0 0% 70%);
    /* Change units? */
    --rounded: 15px;
    --rounded-sm: 10px;
    --border: hsl(0 0% 30%);
    --hover: #e5ff60;
    /* Safe colors */
    --bg-main: hsl(90 100% 20);
    --bg-main-dark: hsl(90 100% 7);
    /* Width */
}

/* General Clases*/

/* Margin and padding */

.quit-m-p{
    margin: 0;
    padding: 0;
}

/* Cards */
.card{
    background: var(--bg);
    border-radius:var(--rounded);
}

.card-element{
    background: var(--bg-light);
}

/* Display */

.d-none{
    display: none;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
}

/* Layouts */

.align-center{
    align-items: center;
}

/* Texts */
.error-message{
    color:hsl(0, 100%, 50%);
}

.text-muted{
    color: var(--text-muted);
}


/* Colors */
.bg-main{
    background: var(--bg-main);
}


/* Borders */
.border{
    border: 2px solid var(--border);
}

body{
    min-height: 946px;
    background: var(--bg-dark);
    color: var(--text);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main{
    flex: 1;
    margin-top: 15px;
}
#create-task-container{
    width: 75%;
}

#form{
    width: 100%;
    accent-color: var(--bg-main);
    caret-color: var(--bg-main);
    /* How to avoid this */
    border-radius: 0 0 var(--rounded) var(--rounded);
    border-top: 2px solid var(--border);
    *{
        margin-top: 25px;
    }
}

#description{
    caret-color: var(--bg-main);
}

/* Buttons */
.main-button{
    background: var(--bg-main);
    color: var(--text);
    border: var(--bg-main);
    border-radius: var(--rounded-sm);
    transition: 0.25s;
    margin-bottom: 20px;
}

.main-button:hover {
background: var(--bg-main-dark);
box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
transform: translateY(-0.25em);
}
                



#list-tasks-container{
    border: 2px solid red;
    width: 75%;
}

#filter-task{
    border: none;
    padding: 0 30px 0 15px;
    width: 100%;
    color: white;
    background-color: var(--bg-main);
    font-size: 20px;
    margin-bottom: 50px;
}

#filter-task:hover{
    background: var(--bg-main-dark);
}

#task-list{
    width: 100%;
    border: 2px solid green;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
    list-style: none;            
}
    
.li-task{
    justify-self: center;
    margin-bottom: 15px;
    border: 2px solid blue;
}

.task-item{
    height: 250px;
    width: 25%;
    min-width: 150px;
}

.task-description{
    width: 75%;
    height: 50%;
    margin: 4% auto;
    padding: 0 3%;
    align-self: start;
    padding: 2px 3px;
}

.task-header{
    text-align: center;
    justify-content: start;
}

.task-button{
    margin-top: 24px;
    border-radius: var(--rounded-sm);
    color: var(--bg-main);
    border:2px solid var(--bg-main);
}

.task-button:hover{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    border: 2px solid var(--bg-main-dark);
    color: var(--bg-main-dark);
    transform: translateY(-0.25em);
}

.checkbox-task{
    accent-color: var(--bg-main);
}


@media (min-width: 612px){ 
    #task-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 924px){ 
    #task-list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1342px){ 
    #task-list{
        grid-template-columns: repeat(4, 1fr);
    }
}