/* General Clases*/

/* Layout */
.d-flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}




header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main{
    border: 2px solid red;

    #create-task-container{
        border: 2px solid orange;
        form{
            border: 2px solid black;
            *{
                margin-top: 25px;
            }
        }
    }

    #list-tasks-container{
        ul{
            padding: 0px;
            margin: 0px;
            list-style: none;            
            border: 2px solid green;

            .task-item{

                border: 3px solid pink;
                
                h4{
                    text-align: center;
                }

                p{
                    align-self: start;
                }

                button{
                }
            }
        }
    }
}